<header class="navbar">
    <div class="navbar-left">
        <a href="/">TL Store</a>
    </div>
    
    
    
    <div class="navbar-right">
        <div class="dropdown">
        <a href="/products">๐๏ธ Sแบฃn phแบฉm</a>
        <div class="dropdown-content">
            <a href="/products/category/<%= encodeURIComponent('Sแบฃn phแบฉm mแปi') %>">Sแบฃn phแบฉm mแปi</a>
            <a href="/products/category/<%= encodeURIComponent('Nam') %>">Sแบฃn phแบฉm Nam</a>
            <a href="/products/category/<%= encodeURIComponent('Nแปฏ') %>">Sแบฃn phแบฉm Nแปฏ</a>
            <a href="/products/category/<%= encodeURIComponent('Trแบป em') %>">Sแบฃn phแบฉm Trแบป em</a>


        </div>
        </div>
        <a href="/cart">๐  Giแป hรng</a>
        <a href="/logout">๐ช ฤฤng xuแบฅt</a>
    </div>
</header>
