<header class="navbar">
    <div class="navbar-left">
        <a href="/">CL Store</a>
    </div>
    <div class="navbar-right">
        <a href="/products">🛍️ Sản phẩm</a>
        <a href="/cart">🛒  Giỏ hàng</a>
        <a href="/logout">🚪 Đăng xuất</a>
    </div>
</header>
